@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100&display=swap');

/*background-color: #605C5C;*/

.cardContainer{
    margin-top: 30%;
    background-color: #F8F5B7;
    margin-bottom: 0%;
    margin-left: 25%;
    margin-top: 15%;
    margin-bottom: -65%;
    margin-right: 25%;
    padding: auto;
}  

.titleControl::placeholder{
    font-family: 'Rancho', cursive;
    color:black;
    font-size: 40px;
    background-color: transparent;
    margin-left: -0px;
    margin-right: 9px;
    text-align: center;

}
.textEdit ::placeholder{
    font-family: 'Taviraj', serif;
    color: black;
    font-size: 35px;
    text-align: center;
    background-color: transparent;
   
}
.title input {
background-color:transparent;
padding: 10% 7%;
border: none;
font-size: 50px;
font-family: 'Rancho', cursive;

}
.textEdit input{
    font-family: 'Taviraj', serif;
    border: none;
    background-color: #F8F5B7;
    margin-top: 0%;
    padding: 45% 5%;
    color: black;
    font-size: 30px;
}
.imgDucky {
    background-size: cover;
    position: absolute;
    bottom: 0%; 
    height: 50px; 
    width: 100%; 
 }
.actionsB{
    margin-left: 0%;
    margin-bottom: 0%;   
}
.buttonViewN {
  margin-right: 0%;
  margin-left: 88%;
  margin-bottom: -80%;
  margin-top: 95%;
  position: absolute;
  color: #FFFAFA;
  background: rgba(0, 0, 0, 0.82);

 }
 .btnSave{
    background-color: transparent;
    margin-right: 0%;
    margin-left: 44%;
    position: absolute;
    margin-top: -4%;
    border: none;
 }
