@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100&display=swap');
*{
/*background-color: #605C5C;*/

}

.cardContainer{
    margin-top: 50%;
    background-color: #F8F5B7;
    padding: auto;
    height: auto;
    width: 350px;
    margin-bottom: -3%;
}
.title{
    background-color: transparent;
}
.textEdit{
    background-color: transparent;
}
.titleControl::placeholder{
    font-family: 'Rancho', cursive;
    color:black;
    font-size: 20px;
    
}
.textEdit ::placeholder{
    font-family: 'Taviraj', serif;
    color: black;
    font-size: 20px;
}
.title input {
background-color: transparent;
padding: 5% 15%;
}
.textEdit input{
    background-color: transparent;
    padding: 10% 15%;
}